<div id="consentBox">

    <div id="consentContent">
        <header id="consentHeader">
            <i class="bx bx-cookie"></i>
            <h2 class="headerr">Cookies Consent</h2>
        </header>
        <p>
            This website use cookies to help you have a superior and more relevant browsing experience on the website.
            <a href="/cookie-policy"> Read more..</a>
        </p>
        <div class="buttons">
            <button class="consentButton">
                Accept Cookies
            </button>
            <button class="rejectButton">
                Reject
            </button>
        </div>
    </div>
</div>