@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



#consentBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    font-family: "Poppins", sans-serif;
    z-index: 201;
}

#consentBox.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

h2.headerr {
    color: #4070f4;
    font-weight: 500;
    margin: 0;
}

header i {
    color: #4070f4;
    font-size: 32px;
}

::selection {
    color: #fff;
    background: #229a0f;
}

#consentContent p {
    margin: 10px 0 20px 0;
}

#consentContent p a {
    font-weight: 500;
    color: #034bf1;;
    border-bottom: 1px solid #e6e6e6;
    text-decoration: none;

    &:hover {
        color: #4070f4;;
        border-bottom-color: black;
    }
}

#consentContent .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.consentButton,
.rejectButton {
    padding: 12px 30px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.consentButton {
    background: #4070f4;
    margin-right: 10px;
}

.rejectButton {
    color: #4070f4;
    background: transparent;
    border: 2px solid #034bf1;
    text-decoration: none;
}

#consentBox img {
    max-width: 90px;
}

#consentHeader {
    font-size: 18px;
    font-weight: 600;
    margin: 7px 0;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.rejectButton:hover {
    background: #034bf1;
    border: 2px solid #034bf1;
    color: #fff;
}

.consentButton:hover {
    background: #034bf1;
    background-color: #034bf1;
}