---
layout: page
---

<div class="contact">
  <div class="content">
    <div class="left-side">
      <a href="{{ site.data.contact.address.map_link }}" target="_blank">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">{{ site.data.contact.address.line_1 }}</div>
          <div class="text-two">{{ site.data.contact.address.line_2 }}</div>
        </div>
      </a>

      <a href="{{ site.data.contact.phone.tel_link }}" class="phone-link">
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">{{ site.data.contact.phone.number }}</div>
        </div>
      </a>

      <a href="{{ site.data.contact.email.mailto_link }}">
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">{{ site.data.contact.email.address }}</div>
        </div>
      </a>
    </div>

    <div class="right-side">
      <div class="topic-text">Get in touch</div>
      <p>I welcome inquiries related to my research, teaching, and collaborative opportunities. If you're interested in discussing my work on migration studies, critical health studies, or race and ethnicity, or if you would like to explore potential research collaborations, feel free to get in touch.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <input type="text" placeholder="Enter your message">
        </div>
        <div class="button">
          <input type="button" value="Send Now">
        </div>
      </form>
    </div>
  </div>
</div>
